#main {
  min-height: 80vh;
  border: 1px solid red;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
#message-hover:hover {
  background-color: #e5e4e2;
  cursor: pointer;
}
#message-hover span {
  font-weight: 500;
  font-size: 18px;
}
#message-hover p {
  font-size: 14px;
}
#nav {
  height: 50px;
}
