#main {
  min-height: 80vh;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
#message-hover:hover {
  background-color: #2f2d52;
  cursor: pointer;
}
#message-hover span {
  font-weight: 500;
  font-size: 18px;
}
#message-hover p {
  font-size: 14px;
}
#nav {
  height: 50px;
}

#sidebar {
  background-color: #3e3c61;
  color: #fff;
}
#nav {
  background-color: #2f2d52;
}
.input {
  height: 50px;
  padding: 10px;
  border-top: solid 1px #beaeae;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  color: #2f2d52;
}
.send {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.send div {
  font-size: 25px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  color: #fff;
  border-radius: 50%;
}
.message {
  padding: 10px;
  /* height: calc(100% - 100px); */
  height: 420px;
  overflow-y: scroll;
}
div.textMessage {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  color: grey;
  font-weight: 300;
  margin-bottom: 20px;
}
div.textMessage .messageContent p {
  background-color: lightgreen;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}
div.inverse {
  flex-direction: row-reverse;
}

div.inverse .messageContent p {
  background-color: #8da4f1;
  color: #fff;
  border-radius: 10px 0px 10px 10px;
  max-width: max-content;
}
.textMessage .messageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textMessage .messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
div.inverse .messageContent {
  align-items: flex-end;
}
.messageContent img {
  width: 50%;
}
